<h1><%= question_header(@test, @question) %></h1>

<%= form_with model: [@test, @question] do |form|%>
  <%= render 'shared/errors', resource: @question %>
  <%= render partial: "shared/form_fields", locals: {form: form} %>
<% end %>

<%= link_to "Back", @test%>
