<h1><%= question_header(@test, @question) %></h1>

<%= form_with model: [@test, @question] do |form|%>
  <%= render 'shared/errors' %>

  <%= form.label :body%><br>
  <%= form.text_field :body%>

  <p><%= form.submit%></p>
<% end %>

<%= link_to "Back", @test%>
