<%= form_with url: sessions_path do |form| %>
  <%= flash_message %>

<p>
  <%= form.label :email %><br>
  <%= form.text_field :email, id: :email %>
</p>

<p>
  <%= form.label :password %><br>
  <%= form.password_field :password, id: :password %>
</p>

  <p><%= form.submit 'Log in' %></p>
<% end %>
