<%= form_with model: [:admin, @badge] do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image_title %><br>
    <%= form.collection_select :image_title, Badge.all, :image_title, :image_title, prompt: true %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.collection_select :rule, Badge.rules, :to_s, :to_s, prompt: true %>
  </p>


  <p><%= form.submit I18n.t('badges.save') %></p>
<% end %>
