<h1><%= t('badges.all') %></h1>

<table class="table">
  <tr>
    <th><%= t('badges.existed') %></th>
    <th><%= t('badges.how_to_achieve') %></th>
  </tr>

  <%= render @badges %>
</table>

<h1><%= t('badges.user', user: current_user.email) %></h1>

<table class="table">
  <tr>
    <th><%= t('badges.all') %></th>
    <th><%= t('badges.how_to_achieve') %></th>
  </tr>

  <%= render partial: 'user_badge', collection: @user_badges %>
</table>

<%= link_to t('admin.back'), tests_path %>
