<h1><%= I18n.t('user.test_passages.header', test: @test_passage.test.title) %></h1>
<b>
  Вопрос <%= @test_passage.current_question_number %>/
  <%= @test_passage.amount_of_questions_in_test %><br>
  <%= @test_passage.current_question_body %>
</b>

<%= render 'test_passage_form' %>
