<footer style="position: fixed; right: 0; bottom: 0">
  <p><%= t('footer.current_year') %><%= current_year %></p>
  <p><%= t('author') %></p>

  <p><%= github_url('odremaer', 'rails-app') %></p>
  <p><%= link_to t('footer.project'), "http://thinknetica.com", rel: "nofollow", target: "_blank" %></p>
</footer>
