<h1><%= I18n.t('question') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= I18n.t('answer') %>:</b>
  <%= @answer.answer %>
</p>

<p>
  <b><%= I18n.t('correct') %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to I18n.t('admin.back'), admin_question_path(@answer.question) %>
