<h1><%= question_header(@question.test, @question) %></h1>

<%= form_with model: [:admin, @question] do |form|%>
  <%= render 'shared/errors', resource: @question %>
  <%= render partial: 'shared/form_fields', locals: {form: form} %>
<% end %>

<%= link_to t('admin.back'), admin_test_path(@question.test) %>
