<h1><%= t('all_tests') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table">
  <tr>
    <th><%= t('test') %></th>
    <th><%= t('level') %></th>
    <th><%= t('questions_amount') %></th>
    <th colspan="2"><%= t('action') %></th>
  </tr>

  <%= render @tests %>

</table>
<p><%= link_to t('admin.tests.new'), new_admin_test_path %></p>
<p><%= link_to t('admin.gists'), admin_gists_path  %></p>
<%= link_to t('badges.all'), admin_badges_path %>
