<p>
  <strong><%= t('title') %>: <%=@test.title%></strong>
</p>

<p>
  <strong><%= t('level') %>: <%= @test.level %></strong>
</p>

<% if @test.without_questions? %>
  <strong>Вопросов в тесте нет</strong>
<% else %>
  <strong>Вопросы теста:</strong>
  <table>
    <tr>
      <th><%= t('question') %></th>
      <th colspan="3"><%= t('action') %></th>
    </tr>

    <%= render @test.questions %>

  </table>
<% end %>

<p><%= link_to t('admin.tests.edit', test: @test.title), edit_admin_test_path(@test) %></p>
<p><%= link_to t('admin.questions.new'), new_admin_test_question_path(@test) %></p>
<p><%= link_to t('all_tests'), admin_tests_path %></p>
