<h1><%= I18n.t('all_tests') %></h1>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= I18n.t('test') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= I18n.t('level') %></th>
    <th><%= I18n.t('questions_amount') %></th>
    <th><%= I18n.t('category') %></th>
    <th><%= I18n.t('action') %></th>
  </tr>

  <%= render @tests %>

</table>

<%= link_to I18n.t('badges.all'), badges_path %>

<%= javascript_tag do %>
  const control = document.querySelector('.sort-by-title')
  new Sort(control)
<% end %>
